<!------------------------header-------------------------------->
<h1 class = "header">Contact Us</h1>

<!-------------------------boxes----------------------------->
<div class = "box2">
	<h2>Our service and support are always at your disposal 24/7.</h2>
	<p>We are here to help you with any questions or concerns you may have.</p>
	<br>
	<h3><u>Ways to contact us are:</u></h3>
	<p>Email: <a href="mailto:dnl.tvl@gmail.com">dnl.tvl@gmail.com</a></p>
	<p>Mobile: 052-3730069</p>
</div>
<!--<p>{{itemsList[0].qty}}</p>-->
<div class = "box3"></div>