<!------------------------header-------------------------------->
<h1 class = "header">Special Decorative items</h1>

<!-------------------------boxes----------------------------->
<div class = "box1">
	<div class = "content">
		<h3>Poole Pottery Maya Manhattan Vase</h3>
		<p class="price">Price $199</p>
		<p>Green/Turquoise, H36cm, Product code: 73583505</p>
		<img class="img_box" src = "assets/sale.jpg" alt = "">
		<form [routerLink]="['/Product1',6]">
		<input class="button_submit" type="submit" value="   Details   " />
		</form>
	</div>
</div>
<div class = "box1">
	<div class = "content">
		<h3>Splash Picolina Vase</h3>
		<p class="price">Price $299</p>
		<p>Multi, H8cm, Product code: 73531410</p>
		<img class="img_box" src = "assets/sale2.jpg" alt = "">
		<form [routerLink]="['/Product1',7]">
		<input class="button_submit" type="submit" value="   Details   " />
		</form>
	</div>
</div>
<div class = "box1">
	<div class = "content">
		<h3>Poole Pottery Volcano Purse Bud Vase</h3>
		<p class="price">Price $99</p>
		<p>Orange, H12.5cm, Product code: 73581305</p>
		<img class="img_box" src = "assets/sale3.jpg" alt = "">
		<form [routerLink]="['/Product1',8]">
		<input class="button_submit" type="submit" value="   Details   " />
		</form>
	</div>
</div>