<!------------------------header-------------------------------->
<h1 class = "header">Special Decorative items</h1>

<!-------------------------boxes----------------------------->
<div class = "box1" *ngFor="let dec of decor; let i = index">
	<div class = "content">
		<table class = "box_table1" cellpadding="0" cellspacing="0" align="center" valign="middle">
			<tr><td>
				<h3>{{ dec.header}}</h3>
				<p>{{ dec.sub_header}}</p>
				<img class="img_box" src = "{{ dec.pic }}" alt = "{{ dec.header }}">
				<p class="price">Price ${{ dec.price }}</p><br>
			</td></tr>
			<tr><td>
				<form [routerLink]="['/Product2', i]">
				<input class="button_submit" type="submit" value="   Details   " />
				</form>
			</td></tr>
		</table>	
	</div>
</div>