<!------------------------header-------------------------------->
<h1 class = "header">List of Flowers</h1>

<!-------------------------boxes----------------------------->
<div class = "box1" *ngFor="let flower of flowers; let i = index">
	<div class = "content">
		<table class = "box_table1" cellpadding="0" cellspacing="0" align="center" valign="middle">
			<tr><td>
				<h3>{{ flower.header}}</h3>
				<p>{{ flower.sub_header}}</p>
				<img class="img_box" src = "{{ flower.pic }}" alt = "{{ flower.header }}">
				<p class="price">Price ${{ flower.price }}</p><br>
			</td></tr>
			<tr><td>
				<form [routerLink]="['/Product1', i]">
				<input class="button_submit" type="submit" value="   Details   " />
				</form>
			</td></tr>
		</table>	
	</div>
</div>