<!------------------------header-------------------------------->
<h1 class = "header">List of Flowers</h1>

<!-------------------------boxes----------------------------->
<div class = "box1">
	<div class = "content">
		<h3>Tree Peony (Paeonia suffruticosa)</h3>
		<p class="price">Price $120</p>
		<p>​Peonies with bomb-type flowers make a statement in the spring garden, but tree peonies can sport blooms up to ten inches across on woody stems that do not die back to the ground in winter.</p>
		<img class="img_box" src = "assets/1.jpg" alt = "">
		<form [routerLink]="['/Product1',0]">
		<input class="button_submit" type="submit" value="   Details   " />
		</form>		
	</div>
</div>
<div class = "box1">
	<div class = "content">
		<h3>Oriental Poppy (Papaver orientale)</h3>
		<p class="price">Price $130</p>
		<p>These fiery red poppies go by the moniker 'Goliath'. Oriental poppies send long tap roots into the soil, helping them establish a long life in your spring garden. Blooms in excess of 7 inches in diameter.</p>
		<img class="img_box" src = "assets/2.jpg" alt = "">
		<form [routerLink]="['/Product1',1]">
		<input class="button_submit" type="submit" value="   Details   " />
		</form>
	</div>
</div>
<div class = "box1">
	<div class = "content">
		<h3>Hydrangea (Hydrangea spp.)</h3>
		<p class="price">Price $125</p>
		<p>In the world of hydrangea hybridizing, the big blooms just keep getting better. This genus of plants has several species commonly used in landscaping, all of which are famous for having large flowers.</p>
		<img class="img_box" src = "assets/3.jpg" alt = "">
		<form [routerLink]="['/Product1',2]">
		<input class="button_submit" type="submit" value="   Details   " />
		</form>
	</div>
</div>
<div class = "box1">
	<div class = "content">
		<h3>Dinner-plate Dahlia (Dahlia hybrids)</h3>
		<p class="price">Price $140</p>
		<p>The classification term dinner-plate dahlia is used to describe any dahlia variety with large, impressive flowers measuring at least eight inches across. Most commercially available dinner-plate dahlias are hybrid cultivars.</p>
		<img class="img_box" src = "assets/4.jpg" alt = "">
		<form [routerLink]="['/Product1',3]">
		<input class="button_submit" type="submit" value="   Details   " />
		</form>
	</div>
</div>
<div class = "box1">
	<div class = "content">
		<h3>Giant Water Lily (Nymphaeaceae Genera)</h3>
		<p class="price">Price $130</p>
		<p>The plants known as water lilies include about 70 species within at least five different genera. They are found across the world, but those most often sold commercially are tropical species.</p>
		<img class="img_box" src = "assets/5.jpg" alt = "">
		<form [routerLink]="['/Product1',4]">
		<input class="button_submit" type="submit" value="   Details   " />
		</form>
	</div>
</div>
<div class = "box1">
	<div class = "content">
		<h3>Orienpet Lily (Lilium Orania)</h3>
		<p class="price">Price $125</p>
		<p>Hybrids of trumpet and Oriental lilies, orienpet lilies are increasing in popularity as new cultivars continually hit the market. Their large fragrant blooms appear in late summer on sturdy five-foot stems.</p>
		<img class="img_box" src = "assets/6.jpg" alt = "">
		<form [routerLink]="['/Product1',5]">
		<input class="button_submit" type="submit" value="   Details   " />
		</form>
	</div>
</div>