<!------------------------header-------------------------------->
<h1 class = "header">{{item.header}}</h1>

<!-------------------------boxes----------------------------->
<div class = "box2">
	<div class = "content">
		<img src = "{{item.pic}}" alt = "">	
		<p>{{item.paragraph}}</p>
	</div>
</div>
<div class = "box5">
	<div class = "content">
		<img src = "{{item.pic1}}" alt = "">
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<h4>{{item.header1}}</h4>
		 <p>{{item.paragraph1}}</p>
	</div>
</div>

<div class = "box4">
	<div class = "content">
		<h4 *ngIf="!userService.isEligibleForDiscount()">Price ${{item.price}}</h4>
		<h4 *ngIf="userService.isEligibleForDiscount()">
			<span style="text-decoration: line-through;">${{item.price}}</span>
			${{ effectivePrice.toFixed(2) }} (10% off!)
		</h4>
		 <p>{{qty}} units in stock</p>
	</div>
</div>

	<div class = "box4">
		<div class = "content">
			<h4><u>Ordered quantity: {{count}}</u></h4>
			<p class="price">Amount to pay: ${{result}}</p>
			<button class="button" type="button" (click)="minus()"> - </button>
			<button class="button" type="button" (click)="cancel()"> C </button>
			<button class="button" type="button" (click)="plus()"> + </button>
			<button (click)="updItem(); addToBasket()" class="button_submit" type="button" [disabled]="isSubmitDisabled">Purchase</button>
		</div>
	</div>