<div class="box_logo"></div>
<form (ngSubmit)="register()" [formGroup]="signupForm">
    <div class="box2">
        <p class="important">Please, register on the site</p>
    </div>
    <div class="box5">
        <div class="content">
            <label for="firstname">First Name: </label>
            <input id="firstname" type="text" formControlName="firstName">
            <br>
            <label for="lastname">Last Name: </label>
            <input id="lastname" type="text" formControlName="lastName">
            <br>
            <label for="username">User Name: </label>
            <input id="username" type="text" formControlName="userName">
            <br>
            <label for="email">Email: </label>
            <input id="email" type="text" formControlName="email">
            <p class="important" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
                Please enter a valid email address
            </p>
            <br>
            <label for="password">Password: </label>
            <input 
            id="password" 
            [type]="showPassword ? 'text' : 'password'" 
            formControlName="password">

            <br>
            <label for="showPasswordCheckbox">
            <input 
                id="showPasswordCheckbox" 
                type="checkbox" 
                [checked]="showPassword"
                (change)="togglePasswordVisibility()">
            Show password
            </label>
            <p class="important" *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
                Password must be in English, at least 6 characters, with 1 uppercase letter, 1 number and 1 special character
            </p>
            <br>
            <button class="button_submit" type="submit">Register</button>
        </div>
    </div>
</form>