<div class = "box_logo"></div>
<form (ngSubmit)="signIn()" [formGroup]="siginForm">
    <div class = "box2">
        <p class="important">To continue, you need to identify yourself or register</p>
    </div>
    <br>
<div class = "box5">
        <label for="username">User Name: </label>
        <input id="username" type="text" formControlName="userName">
        <br>
        <label for="password">Password: </label>
        <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password">
        <br>
        <label for="showPasswordCheckbox">
          <input 
            id="showPasswordCheckbox" 
            type="checkbox" 
            [checked]="showPassword"
            (change)="togglePasswordVisibility()">
          Show password
        </label>
        <p class="important" *ngIf="siginForm.get('password')?.invalid && siginForm.get('password')?.touched">
            Password must be in English, at least 6 characters, with 1 uppercase letter, 1 number and 1 special character
        </p>
</div>
<div class = "box5">
        <button class="button2" type="submit">Confirm</button>
</div>
</form>
<br>
<div class = "box5">
<form [routerLink]="['/UserReg']">
<input class="button_submit" type="submit" value="   Register   " />
</form>
</div>