<div class = "box_logo"></div>
<form (ngSubmit)="signIn()" [formGroup]="siginForm">
    <div class = "box2">
        <p class="important">To continue, you need to identify yourself or register</p>
    </div>
    <br>
<div class = "box5">
        <label for="username">User Name: </label>
        <input id="username" type="text" formControlName="userName">
        <br>
        <label for="password">Password: </label>
        <input id="password" type="password" formControlName="password">
</div>
<div class = "box5">
        <button class="button2" type="submit">Confirm</button>
</div>
</form>
<br>
<div class = "box5">
<form [routerLink]="['/UserReg']">
<input class="button_submit" type="submit" value="   Register   " />
</form>
</div>