<div class="box_logo"></div>
<div class = "box2"><p class="important">List of items</p></div>
<div align="center">
	<table width="90%">
		<tr>
			<td align="left" valign="middle">
			<input [routerLink]="['/ItemReg']" align="left" class="button_submit" type="submit" value="   New   " />
			</td>
			<td align="right" valign="middle">
				<form [routerLink]="['/ItemManage/2']">
					<input align="right" class="button_submit1" type="submit" value="Category 2" />
				</form>
			</td>
		</tr>
	</table>
</div>
<div align="center" valign="middle" *ngFor="let item of items; let i = index">
	<table class = "box_table1" cellpadding="5" cellspacing="0" align="center" valign="middle">
		<div class = "content">
		<tr valign="middle">
			<td valign="middle" width="400"><h4>{{ item.header}}</h4></td>
			<td valign="middle" width="300"><img class="img_box" src = "{{ item.pic }}"></td>
			<td valign="middle" width="40"><h4>
				<form [routerLink]="['/ItemUpdate', i]">
					<input class="button3" type="submit" value="   Update   " />
				</form>
			</h4></td>
			<td valign="middle" width="40"><h4>
				<input (click)="deleteItem(item.id)" class="button4" type="submit" value="   Delete   " />
			</h4></td>
		</tr>		
		</div>
	</table>
</div>

