<!------------------------main image-------------------------------->

<div class="box_logo"></div>
<!------------------------header-------------------------------->
<h1 class="header">iBouquet</h1>
<h1 class="header1">Online store for flowers and decorative items</h1>
<!-------------------------boxes----------------------------->
<div class="box">
	<div class="content">
		<img src="assets/box1.jpg" alt="Nature">
		<h4>Grow these beautiful big flowers in your own yard for stunning seasonal colors</h4>
		<p>When choosing plants that flower for your garden, you have lots of options: from small, dainty flowers to those
			with large blooms that make a dramatic statement, as well as quickly fill up flower vases with cut flowers. Here
			are 15 plants with large flowers to consider for your garden, depending on the climate in which you are gardening.
		</p>
	</div>
</div>

<div class="box">
	<div class="content">
		<img src="assets/box2.jpg" alt="Engineering">
		<h4>Whats the Meaning of Flower Colors?</h4>
		<p>When you see a flower, what is the first thing you notice? Is it its size? Its shape? Its scent? Or, perhaps, it
			is its color. A flower’s color is one of many factors that makes nature so beautiful, and today we’d like to pose
			the following question: Do you know what each color means? If not, we do! Let’s take a look at flower color
			meaning.</p>
	</div>
	<div class="content">
		<img src="assets/box3.jpg" alt="Art">
		<h4>Art and indoor JUNGLE</h4>
		<p>Transform your home with greenery galore thanks to our range of hardy indoor plants. Decorate your home and
			garden with our versatile range, including wall and indoor house planters and large plant pots.</p>
	</div>
</div>